* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: deepskyblue;
}

body {
  background-color: #2a2a2a;
  color: #ffffff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border-bottom: 2px solid #2c2c2c;
  padding: 20px 50px;
}

header strong {
  font-size: 30px;
}

nav {
  display: flex;
  gap: 12px;
}

header a {
  text-decoration: none;
  color: #e66f6f;
}

a:hover {
    text-decoration: underline;
}

.container {
  padding: 70px;
  flex: 1 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.posts__block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.post__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.post__block .post {
  width: 600px;
}

.post {
  padding: 22px;
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 400px;
}

.post h2 {
  font-size: 20px;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  padding: 20px 50px;
}